
body { background-color:rgb(196, 214, 218);
}
  

p {color: rgb(3, 3, 26);
   font-family: Verdana}
   
header{
      background-image: url("./bg3.jpeg") ;
      background-size:cover;
      background-position-y:  -100px;      
      border:5px solid black;
      width:100%;
      height: 200px;
      margin-top: 0px; 
      margin-left: -10px;
      padding: 0px;
      position: fixed;
      top:0;
   }
  
.body{
         margin-top: 250px;
   }
      
   
#hd h1{   
    /* text-align:center; */
    margin-top: 0%;
    margin-left: 150px;   
   font-size: 35px;
   color:rgb(216, 205, 205);
}
#hd h2{
    float: right; */
   margin-left: 820px;
   margin-top: -60px;
   margin-right: 180px;
   font-size: 30px;
   color:rgb(216, 205, 205);
}

#menu nav ul{
   list-style: none;
 
   margin-top: 100px;
   margin-left: 350px; 
}
#menu nav ul li{
   list-style: none;
   display: inline-block;
   margin-right: 50px;   
}
#menu nav ul li a{
   color:rgb(245, 243, 243);
   font-weight: bold;
   text-decoration: none;
   font-size: 0.5cm;
}
#menu nav ul li a:hover{
   color: limegreen;
}
.body img{
     margin-left: 90px;
}
.body1 h1{
   margin-left: 90px;
   color: rgb(13, 0, 128);

}
.body1 h2{
   margin-left: 110px;
   color:crimson;
}
.body1 p{
   margin-left: 130px;
   margin-right: 130px;
}
#h ul li{
    margin-left: 130px;
   font-size:20px;
}

#table{
   margin-left:280px;

}
footer{
   width:100%;
   height:50px;
   border: 5px solid grey;
   background: grey;
   float: left;
   position: ;
}
#pp{
   float: left;
}
#ppp{
   float: right;
   margin-right: 10px;
}